.header {
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  height: 70%;
  width: 20%;
}

.logo img {
  height: 100%;
  width: 100%;
}

.search-btn {
  margin-right: 50px;
}
.search-btn input{
  font-size: 1rem;
  border-radius: 2rem;
  outline: none;
  border: none;
  text-align: center;
}
